<div class="container mt-5">
    <h2 class="mb-4">Lista de Tareas</h2>
    <button class="btn btn-primary mb-4" routerLink="/dashboard/new"> Añadir</button>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Estado</th>
                <th>Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <h2 *ngIf="isLoading">Cargando...</h2>
            <tr *ngFor="let task of tasks">
                <td>{{task.id}}</td>
                <td>{{task.title}}</td>
                <td>{{task.is_completed}}</td>
                <td>{{task.user.name}}</td>
                <td>
                    <button class="btn btn-sm btn-primary me-2" [routerLink]="['/dashboard/edit', task.id]">Actualizar</button>
                    <button class="btn btn-sm btn-danger" (click)="deleteTask(task)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
